@mixin stylefront_back{
    color: white;
    display: grid;
    height: 100%;
    justify-items: center;
    align-items: center;
}

@mixin mainphoto {
    background-color: black;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
}

@mixin styleinputs{
    padding: 20px 10px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

html{
    scroll-behavior: smooth;/*Animacion de seguimiento al cursor del mouse peque;a transicion entre secciones*/
}

section{
    min-height: 100vh;/* Esto es para que por defecto cada section ocupe el tamano del viewport pero si alguna seccion es mas grande con mas contenido va a crecer de forma automatica*/
    box-sizing: border-box;
}

#menu{
    background-color: rgba(195, 35, 88);
    display: grid;/* Cada vez que declaramos grid tenemos que definir el numero de columnas y de filas*/
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;/*alinearlo de forma horizontal*/
    align-content: center;/* alinearlo de forma vertical*/
    grid-template-areas: 
    "about about projects projects"
    "about about posts contact";
    height: 100%;
    
    .tile{
        box-shadow: 0 0 10px #150202;
        overflow: hidden;
        cursor: pointer;
        a{
            text-decoration: none;/* Elimina el subrayado de los enlaces*/
        }

        .front{
            @include stylefront_back;
            background-color: black;
            padding: 20px;
            box-sizing: border-box;
            background-size: cover;/*Este codigo nos permite agrandar la imagen de fondo al tamano del contenedor*/
            background-position: center center;
            transition: all 0.3s ease;/* Transicion suave con ease*/
        }
        .back{
            @include stylefront_back;
            background-color: #222;
            font-weight: bold;
            font-size: 28px;
        }
        &:hover{
            .front{
                margin-top: -100%;
            }
        }
    }
    
    .about-tile{
        grid-area: about;
        .front{
        background-image: url(img/profile.png);
        }
        
    }
    
    .projects-tile{
        grid-area: projects;
        .front{
        background-image: url(img/work-01.png);
        }
       &:hover{
            .front{
                margin-top:-50%; 
            }
        }
    }
    .posts-tile{
        .front{
        background-image: url(img/work-02.png);
        }
    }
    .contact-tile{
        .front{
        background-image: url(img/work-03.png);
        } 
    }
}
/* SECTION ABOUT*/
#about{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/* Tambien se puede utilizar la funcion repeat(e, 1fr);*/
    grid-template-rows: 1fr 1fr;/* Aqui no le estoy dando medidas fijas */
    gap:20px;
    padding: 20px;
    .tile{
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;
        background-color: #eee;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.5em;
    }
  
        .tile-1{
            grid-column: 1 / 2; /*Le digo que ocupe una columna, o sea de la primera linea hasta la segunda*/
        }
        .tile-2{
            grid-column: 2 / 3;/*Que abarque una columna de la linea2 a la linea3*/
            grid-row: 1 / 3;/*Que abarque dos filas linea 1 a la linea 3*/
            img{
                width: 400px;
                height: 400px;
                border-radius: 50%;
                object-fit: cover;/* Si la imagen no tiene tamaño fijo digase px o % no tendra efecto esta propiedad*/
            }
        }
   
}

#projects {  
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "main-photo main-photo main-photo photo-2 photo-2 photo-2 photo-3 photo-3 photo-4 photo-4"
      "main-photo main-photo main-photo photo-2 photo-2 photo-2 photo-3 photo-3 photo-4 photo-4"
      "main-photo main-photo main-photo photo-2 photo-2 photo-2 photo-5 photo-17 photo-4 photo-4"
      "main-photo main-photo main-photo photo-7 photo-7 photo-6 photo-6 photo-6 photo-9 photo-9"
      "main-photo main-photo main-photo photo-7 photo-7 photo-6 photo-6 photo-6 photo-9 photo-9"
      "main-photo main-photo main-photo photo-7 photo-7 photo-8 photo-8 photo-8 photo-8 photo-8"
      "main-photo main-photo main-photo photo-10 photo-10 photo-8 photo-8 photo-8 photo-8 photo-8"
      "main-photo main-photo main-photo photo-10 photo-10 photo-11 photo-11 photo-11 photo-12 photo-12"
      "main-photo main-photo main-photo photo-13 photo-14 photo-11 photo-11 photo-11 photo-12 photo-12"
      "main-photo main-photo main-photo photo-15 photo-16 photo-11 photo-11 photo-11 photo-12 photo-12";

      .tile {
        background-color: #ccc;
        border-radius: 5px;

        background-size: cover;//Todas las imagenes sin importar el tamaño se escalen proporcionalmente al contenedor
        background-position: center center;//Que las imagenes aparezcan centradas(vertical y horizontal)
         a {
            display: grid;
            height: 100%;
         }
         &:not(.main-photo){
            opacity: 0.5;
           transition: all 0.1s ease-in;
         }
         &:hover:not(.main-photo){
            transform: scale(0.99);
            opacity: 1;
         }
      }
        .main-photo {
             grid-area: main-photo;
             padding: 20px;
             color: white;
             font-size: 20px;
             background-image: url(img/work-17.png);
             h2{
                @include mainphoto();
             }
             div{
                @include mainphoto();
             }
            }
  
        .photo-02 {
             grid-area: photo-2; 
             background-image: url(/img/work-01.png);
            }
  
        .photo-03 { 
            grid-area: photo-3; 
            background-image: url(/img/work-02.png);
        }
  
        .photo-04 { grid-area: photo-4; background-image: url(/img/work-06.png);}
  
        .photo-05 { grid-area: photo-5; background-image: url(/img/work-13.png);}
  
        .photo-17 { grid-area: photo-17; background-image: url(/img/work-03.png);}
  
        .photo-07 { grid-area: photo-7; background-image: url(/img/work-04.png);}
  
        .photo-06 { grid-area: photo-6; background-image: url(/img/work-05.png);}
  
        .photo-09 { grid-area: photo-9; background-image: url(/img/work-07.png);}
  
        .photo-10 { grid-area: photo-10; background-image: url(/img/work-08.png);}
  
        .photo-08 { grid-area: photo-8; background-image: url(/img/work-09.png);}
  
        .photo-11 { grid-area: photo-11; background-image: url(/img/work-10.png);}
  
        .photo-12 { grid-area: photo-12; background-image: url(/img/work-11.png);}
  
        .photo-13 { grid-area: photo-13; background-image: url(/img/work-12.png);}
  
        .photo-14 { grid-area: photo-14; background-image: url(/img/work-14.png);}
        .photo-15 { grid-area: photo-15; background-image: url(/img/work-15.png);}
        .photo-16 { grid-area: photo-16; background-image: url(/img/work-16.png);}
}

#posts{
    padding: 10px;
    background-color: rgb(66, 186, 255);
    display: grid;
    gap:10px;
    grid-template:repeat(2, 300px) / repeat(3, 350px);//La notacion simplificada pone la cantidad de filas primero
    justify-content: center;
    align-content: center;
    .post{
        display: grid;
        align-content: end;
        border-radius: 5px;
        background-color: white;

        background-size: cover;
        background-position: center center;

        overflow: hidden;

        .title{
            background-color: rgba(0, 0, 0 ,0.7);
            color: white;
            &:hover{
                background-color: white;
                color:rgba(0, 0, 0 ,0.7) ;
            }
        }

        a{
            color: white;
            text-decoration: none;
        }
    }

    .post-1{
        background-image:url(/img/work-15.png) ;
    }
    .post-2{
        background-image:url(/img/work-02.png) ;
    }
    .post-3{
        background-image:url(/img/work-05.png) ;
    }
    .post-4{
        background-image:url(/img/work-08.png) ;
    }
    .post-5{
        background-image:url(/img/work-10.png) ;
    }
    .post-6{
        background-image:url(/img/work-15.png) ;
    }

}

#contact{
    background-color: rgb(26, 72, 151);
    display: grid;
    grid-template:auto 100px / 700px;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    
    form{
        padding: 20px;
        color: white;
        display: grid;
        gap: 15px;
        grid-template: auto/auto;
        box-sizing: border-box ;
        input{
            @include styleinputs();
            }
            
        
        input[type="submit"]{
            background-color: #67ca50;
            font-weight: bold;
            font-size: 28px;
        }
        textarea{
            @include styleinputs();
        }
    }
    .social-networks{
        justify-self: center;
        padding: 10px 0;
        a{
            color: white;
        }
    }
}



