@mixin stylefront_back{
    color: white;
    display: grid;
    height: 100%;
    justify-items: center;
    align-items: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;

}

html{
    scroll-behavior: smooth;/*Animacion de seguimiento al cursor del mouse peque;a transicion entre secciones*/
}

section{
    min-height: 100vh;/* Esto es para que por defecto cada section ocupe el tamano del viewport pero si alguna seccion es mas grande con mas contenido va a crecer de forma automatica*/
    box-sizing: border-box;
}

#menu{
    background-color: rga(195, 35, 88);
    display: grid;/* Cada vez que declaramos grid tenemos que definir el numero de columnas y de filas*/
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;/*alinearlo de forma horizontal*/
    align-content: center;/* alinearlo de forma vertical*/
    grid-template-areas: 
    "about about projects projects"
    "about about posts contact";
    height: 100%;

    .tile{
        overflow: hidden;
        cursor: pointer;
        a{
            text-decoration: none;/* Elimina el subrayado de los enlaces*/
        }

        .front{
            @include stylefront_back;
            background-color: black;
            padding: 20px;
            box-sizing: border-box;
            background-size: cover;/*Este codigo nos permite agrandar la imagen de fondo al tamano del contenedor*/
            background-position: center center;
            transition: all 0.3s ease;/* Transicion suave con ease*/
        }
        .back{
            @include stylefront_back;
            background-color: #222;
            font-weight: bold;
            font-size: 28px;
        }
        &:hover{
            .front{
                margin-top: -100%;
            }
        }
    }
    
    .about-tile{
        grid-area: about;
        .front{
        background-image: url(img/profile.png);
        }
        
    }
    
    .projects-tile{
        grid-area: projects;
        .front{
        background-image: url(img/work-01.png);
        }
        &:hover{
            .front{
                margin-top:-50%; 
            }
        }
    }
    .posts-tile{
        .front{
        background-image: url(img/work-02.png);
        }
    }
    .contact-tile{
        .front{
        background-image: url(img/work-03.png);
        } 
    }
}



